.indexForm {
    margin-top: 2%;
}

.logo {
    margin-top: 2%;
    border-radius: 50%;
    width: 75%; /* Adjust as needed */
    object-fit: fill; /* Cover the entire area of the box */
}

.headerTitle {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
