body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 90%;
    padding: 3%;
    background-color: #ffffff;
    border: 1px solid #00a651;
    border-radius: 4px;
    margin-bottom: 30px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2%;
}

@media screen and (min-width: 1366px) {
    .container {
        width: 50%;
    }
}

#formTitle, p {
    text-align: center;
}

.btn {
    margin-bottom: 1%;
}