.success-container {
    margin-top: 10%;
    text-align: center;
}

.success-title {
    font-size: 120px;
    color: #00AC64;
    margin: 0;
}

.success-message {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}

.back-to-home {
    text-decoration: none;
    background-color: #00AC64;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

    .back-to-home:hover {
        background-color: #2980b9;
    }
